 



 
<h1>Data: {{ diary.date }}</h1>
<h2>{{ diary.name }}</h2>
<a href="{% url 'diary_list' %}">List Diary</a>
<table>
    <tr>
        <th>Nazwa produktu</th>
        <th>Białko</th>
        <th>Tłuszcz</th>
        <th>Węglowodany</th>
        <th>Kalorie</th>
        <th>Gramy</th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.protein }}g</td>
            <td>{{ product.fat }}g</td>
            <td>{{ product.carbo }}g</td>
            <td>{{ product.calories }} kcal</td>
            <td>{{product.grams}}g</td>
            <td>
                <form method="post" action="{% url 'diary_remove_product' diary.id product.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <form method="post" action="{%url 'update_product_grams' diary.id product.id %}">
                    {%csrf_token%}
                    <input type="number" name="grams" value="{{product.grams}}">
                    <button type="submit">update product</button>
                </form>
            </td>
            
        </tr>
    {% endfor %}
    <div>
        <tr>
            <td>{{Null}}</td>
            <td>{{ total.protein }} g</td>
            <td>{{ total.fat }} g</td>
            <td>{{ total.carbo }} g</td>
            <td>{{ total.calories }} kcal</td>
        </tr>
    </div>
</table>
 

<p><a href="{% url 'add_product_to_diary' diary_id=diary.id %}">add product properly</a></p>  

 
 
