 
{% block title %}
    {{ diary.name }} - Diary Details
{% endblock %}

<h1>{{ diary.name }}</h1>
<h2>Data: {{ diary.date }}</h2>
<a href="{% url 'diary_list' %}">List Diary</a>
<table>
    <tr>
        <th>Nazwa produktu</th>
        <th>Białko</th>
        <th>Tłuszcz</th>
        <th>Węglowodany</th>
        <th>Kalorie</th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.protein }}g</td>
            <td>{{ product.fat }}g</td>
            <td>{{ product.carbo }}g</td>
            <td>{{ product.calories }} kcal</td>
            <td>
                <form method="post" action="{% url 'diary_remove_product' diary.id product.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<h3>Add product</h3>
<form method="post" action="{% url 'add_product_to_diary' diary_id=diary.id%}">
    {% csrf_token %}
    <label for="product">Product:</label>
    <select id="product" name="product">
        {% for product in all_products %}
            <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add</button>
</form>
<p><a href="{% url 'add_product_to_diary' diary_id=diary.id %}">add product</a></p>



